.video-thumbnail-description{
	text-overflow: ellipsis;
}
.video-thumbnail-title{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}
.playa{
	padding:none;
	background:none;
	border:none;
}
.track-title{
	height:68px;
}

.vertical-align {
    display: flex;
    align-items: center;
}



body
{
    font-family: 'Open Sans', sans-serif;
   /* background-color: #FFFF4D;*/
}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}


    
.fb-profile-text > h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}


.well{
    padding:none;
}
.sidebar-offcanvas{
    position:fixed;
}